@media screen and (max-width: 992px) {
  body, html {
    font-size: 14px;
  }
  .b-chat {
    padding-left: 15px;
    padding-right: 15px;
    &__aside {
      border: none;
      z-index: 250;
      width: 30px;
    }
    &__title {
      position: relative;
      z-index: 200;
      font-size: 16px;
    }
    &__send-form {
      position: relative;
      z-index: 300;
      .form {
        justify-content: flex-end;
      }
      &__textarea {
        width: 100%;
        max-width: calc(100% - 30px);
        margin-bottom: 20px;
        font-size: 14px;
      }
      &__send-btn {
        font-size: 14px;
        width: calc(100% - 110px);
      }
    }
    &__message {
      &__user-avatar {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        z-index: 100;
        left: 0;
        top: 0;
        transform: none;
        margin-right: 10px;
      }
      &__message-line {
        p {
          font-size: 14px;
        }
      }
      &__inf-line {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        max-width: calc(100% - 50px);
        h4 {
          display: block;
          font-size: 12px;
        }
        span {
          font-size: 12px;
          &:first-of-type {
            margin-left: 0;
          }
        }
      }
    }
  }
  .emoji-picker .emojis span {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  body, html {
    font-size: 10px;
  }
}